@page "/"

<PageTitle>RUZWatcher</PageTitle>

<h1>Vitaj v aplikácii RUZWatcher!</h1>

V menu naľavo môžeš vyhľadávať účtovné jednotky podľa IČO/DIČ a pridať ich medzi sledované (Vyhľadávanie UJ). <br />
Následne si môžeš zobraziť prehľad sledovaných účtovných jednotiek a exportovať ich do excelu (Sledované UJ).
